.body{
    background-color: rgba(27, 38, 54, 0.625);
    font-family: 'Libre Baskerville', serif;
}
.navDiv{
     margin: auto;

}
.headDiv{
    background-size: cover;
    background-image: url("/img/newspaper.jpeg");
    height: 380px;
}

.link{
    color: white;
    font-size: 15px;
    padding: 5px;
}
.link:hover {
    color: rgb(0, 0, 0);
    background-color: rgba(51, 212, 59, 0.796);
    
}

.nav-item{
    padding: 15px;
}



.h1News{

    color: rgb(237, 245, 247);
    background-color: rgba(32, 51, 51, 0.591);
    font-size: 80px;
    text-align: center;
    padding-top: 100px;
}
/*====*/
#wrapper {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5%;
  }
  #articles {
    display: inline-block;
    overflow: auto;
    width: 60%;
    height: 700px;
  }
  #notes {
    float: right;
    width: 30%;
  }
  textarea, input {
    display: block;
    width: 100%;
    background-color: #FCF5C7;
  }
  input {
    height: 36px;
    font-size: 24px;
  }
  textarea {
    height: 300px;
    font-size: 18px;
  }

  #save-article{
    text-align: center;
  }



  #saveBtn {
    background-color: rgba(5, 186, 5, 0.824);
  }

  #delete-article{
    float: right;
  }

  #deleteBtn{
    background-color: rgb(235, 63, 63);
  }

  #deleteBtn:hover{
    background-color: rgb(254, 2, 2);
  }